name: discord issue creator

on:
  repository_dispatch:
    types: [discord-issue]

jobs:
  create-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub Issue
        uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.APP_PRIVATE_KEY }}
        with:
          title: ${{ github.event.client_payload.title }}
          body: ${{ github.event.client_payload.body }}
          filename: .github/issue-templates/bug_report.md
